[Unit]
Description=Battery low notifier
After=graphical-session.target
PartOf=graphical-session.target


[Service]
ExecStart=/usr/bin/env python3 /home/abhi/.config/qtile/services/trayer.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

