[Unit]
Description=Battery low notifier
After=graphical-session.target
PartOf=graphical-session.target


[Service]
ExecStart=%h/.config/scripts/battery_low.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

