[Unit]
Description=Volume control tray app
After=graphical-session.target

[Service]
ExecStart=/usr/bin/volctl
Restart=on-failure

[Install]
WantedBy=graphical-session.target